{% extends "blog/base.html" %}
{% block title %}- パスワード変更{% endblock %}
{% block main %}
<div class="pt20">
    <h2>パスワード変更</h2>
    <form action="" method="POST" class="mt20">
        {{ form.non_field_errors }}
        {% for field in form %}
        <div class="field">
            <label for="{{ field.id_for_label }}">メールアドレス</label>
            {{ field }}
            {{ field.errors }}
        </div>
        {% endfor %}
        {% csrf_token %}
        <button type="submit" class="">パスワード変更</button>
    </form>
</div>
{% endblock %}