{% extends "blog/base.html" %}
{% block title %}- パスワードリセット{% endblock %}
{% block main %}
<div class="pt40">
  <h3>パスワードリセット</h3>
  <form action="" method="POST" class="mt20">
      {{ form.non_field_errors }}
      <div class="field">
          <label for="{{ form.new_password1.id_for_label }}">パスワード</label>
          {{ form.new_password1 }}
          {{ form.new_password1.errors }}
      </div>
      <div class="field mt10">
        <label for="{{ form.new_password2.id_for_label }}">確認用パスワード</label>
        {{ form.new_password2 }}
        {{ form.new_password2.errors }}
    </div>
      {% csrf_token %}
      <div class="mt10">
        <button type="submit" class="pt5 pb5 wM500px btFormat1 btNormal">変更する</button>
      </div>
  </form>
</div>
{% endblock %}