{% extends "blog/base.html" %}
{% block title %}パスワードリセット{% endblock %}
{% block main %}
<div class="pt40">
  <h3>パスワードリセット</h3>
    <form method="POST" class="mt20">
      {% csrf_token %}
        <div class="field mt10">
          {{ form.non_field_errors }}
            <label for="id_email">メールアドレス</label>
            {{ form.email }}
            {% if form.email.errors %}
              {{ form.email.error }}
            {% endif %}
        </div>
      <div class="mt30">
        <button class="pt5 pb5 wM500px btFormat1 btNormal" type="submit">リセットする</button>
      </div>
    </form>
</div>
{% endblock %}